@font-face {
    font-family: "Roboto", sans-serif;
    src: url(https://use.typekit.net/dls4jrc.css);
}
/* generic*/

:root{    
    --clr-primary: #3498DB;
    --clr-main: #D6EAF8;
    --clr-accent: yellow;

    --ff-roboto: "Roboto", sans-serif;
}

aside{
    margin: 0;
    
}

body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "left top top top"
    "left main main main"
    "left main main main"
    "left main main main";
}

main
{
    background-color: var(--clr-main);
    grid-area: main;
}

a{
    text-decoration: none;  
  
    
}

.sidebar a, .sidebar h3, .sidebar h1{
    color: white;
}

.topbar a{
    color: black;
}

li, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul{
    margin-bottom: 3em;
    margin-right: 1em;
}


h1, h2, h3, h4, p{
    font-family: var(--ff-roboto);
    margin: 0;
    margin-bottom: .5em;
    margin-top: .5em;
}

.sidebar a{
    margin: 0;
    margin-top: .5em;
    align-items: center;
    align-self: center;

}
@media only screen and (max-width: 1520px){
    
h1{
    font-size: 1.75rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.25rem
}

body{
    display: grid;
    grid-template-columns: minmax(0 .5fr) 2fr 1fr 1fr;
    grid-template-rows: .2fr repeat(3, 1fr);
}

.sidebar{
    grid-area: left;
    padding-left: .5rem;
    background-color: var(--clr-primary);
    
}

nav{
    display: grid;
}


nav li{
    margin-left: 0;
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.sidebar__icon{
    margin-left: .5em;

}.topbar{
    
    grid-area: top;
    display: flex;
    flex-direction: column;
      
}

.topbar__top{
    margin: .75em;

    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-self: ;
    
}

search{
    display: flex;
    align-self: center;
}

.topbar__top input{
    align-self: center;
    background-color: var(--clr-main);
    border-color: var(--clr-main);
    border-radius: 25px;
    box-shadow: none;
    margin-left: 1em;
    font-size: 1.5rem;
    width: 12em;

}

.topbar__right{
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    align-content: center;
}

.topbar__bottom{
    margin: 1em;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    
    
}
.topbar__bottom__left{
    display: flex;
    align-self: center;
    gap: 1em;
}

.topbar__bottom__left p {
    margin-top: .5em;
}

.topbar__btngroup{
    align-self: center;
}

.topbar__btngroup button{
    font-size: .75rem;
    border-radius: 25px;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    padding: .75em;
    width: 6em;
    
}

.topbar__btngroup button + button{
    margin-left: .75em;
}

main{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto;

}

.projectsGrid{
    display: grid;
    grid-template-columns: minmax(0, 1fr);/* stop grid items expanding */
    grid-template-rows: auto;
    gap: 1rem;
    padding: 2rem;
}

.projectsGrid__card{   
    background-color: white;
    border-radius: 8px;  
    margin-bottom: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    
   
    box-shadow: -8px 0px 0px orange;/* first number is x direction, neg for left, pos for right
                                        second number is y direction, third number blur, set to 0 means sharp and nothing is seen top and bottom  */
    
}

.projects{
    padding: 1em;
    background-color: var(--clr-main);

}

.projectText{
    display: flex;
    min-width: 0;
    flex: 0 1 auto;
    flex-wrap: wrap;
    overflow: hidden;
}

.main__right{
    padding-top: 1em;
}

.announcementsGrid  {
    padding-top: 2em;
}




}







@media only screen and (min-width: 1520px){

h1{
    font-size: 3rem;
}
    
h3{
    font-size: 1.75rem;
}


/* Layouts */

body{
    
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: .75fr repeat(3, 1fr);
    
}

main{
    grid-area: main;
   
    
   
    display: flex;
    
    justify-content: space-between;
    padding: 1em;
    box-shadow: inset 0 .5em 0.6em rgb(204, 204, 204);

}

.sidebar{
    grid-area: left;
    background-color: var(--clr-primary);
    color: white;
    min-height: 100%;
    position: sticky;
    top: 2em;
    
    
}

nav{
    display: grid;
    margin: 1em;
    position: sticky;
    top: 1em;

}
nav li{
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: .5em;
    margin-bottom: 1em;
}

.topbar{
    
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}



.topbar__top{
    margin: 2em;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search{
    display: flex;
    align-self: center;
}

.topbar__top input{
    align-self: center;
    background-color: var(--clr-main);
    border-color: var(--clr-main);
    border-radius: 25px;
    box-shadow: none;
    margin-left: 1em;
    font-size: 1.5rem;
    width: 30em;

}

.topbar__right{
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    align-content: center;
}

.topbar__bottom{
    margin: 2em;
    display: flex;
    justify-content: space-between;
    
    
}

.topbar__bottom__left{
    display: flex;
    align-self: center;
    gap: 1em;
}

.topbar__bottom__left p {
    margin-top: .5em;
}

.topbar__btngroup{
    align-self: center;
}

.topbar__btngroup button{
    font-size: 1.25rem;
    border-radius: 25px;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    padding: .75em;
    width: 6em;
    
}

.topbar__btngroup button + button{
    margin-left: 2em;
}

.projectsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;/* stop grid items expanding */
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem;
}

.projectsGrid__card{
    display: flex;
    max-width: 35em;
    padding-right: 1em;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 8px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0;
    box-shadow: -8px 0px 0px orange;/* first number is x direction, neg for left, pos for right
                                        second number is y direction, third number blur, set to 0 means sharp and nothing is seen top and bottom  */
    
}

.projects{
    background-color: var(--clr-main);
}

.projectText{
    padding-right: 1em;
}

.announcements, .trending{
    background-color: var(--clr-main);

}


.announcementsGrid, .trendingGrid{
    margin: 1rem;
    margin-top: 2.75em;
    background-color: white;
    display: grid;
    padding: 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 8px;
    
    
       
    
    padding-top: 1em;
}

.announcementsGrid__card{
        border-bottom: solid lightgray 2px;
        margin-bottom: 1rem;
        max-width: 25rem;
}

.main__right{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-main);
    
}

.sidebar__icon{
    margin-left: 2em;
}



}

/* layouts look alright down to about 1200px */


/* icon images */

.title__icon{
    width: 3rem;
    height: auto;
    align-self: center;
}

.sidebar__icon{
    width: 2rem;
    height: auto;
    align-self: center;
    
}

.topbar__icon{
    width: 2rem;
    height: auto;
    align-self: center;  
}

.userIcon{
    width: 4rem;
    height: auto;
    background-color: white;
}

.project__icon{
    width: 1.5rem;
    height: auto;
    margin: .5em;
}