:root{
    min-height: 100vh;
    font-size: 16px;
}

body{
    min-height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gridContainer{
    min-height: 100vh;/* if you want to span the whole height of viewport, use min-height not max height! */
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: .75fr repeat(3, 1fr);
    grid-template-areas: 
    "left top top top"
    "left project project annoucement"
    "left project project annoucement"
    "left project project annoucement";
}

.left{
    background-color: #3498DB;
    grid-area: left;
}

.topBar{
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 5px #ccc;
    
   
}

.projectGrid{
    grid-area: project;
    background-color: #D6EAF8 ;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));/* stop grid items expanding */
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem;
}

.announcements{
    
    grid-area: annoucement;
    background-color: #D6EAF8;
    
}

.header{
    display: grid;
    gap: .5rem;
    grid-template-columns: .5fr 1fr .25fr;
    grid-template-areas: "icon text .";
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}

.dash{
    min-width: 3rem;
    height: auto;
    align-self: center;
    /* changed colour/fill from black to white, got into svg file and edit from there. */
}


.menuGrid, .lowerMenu{/* remember to use a comma to select multiple selectors */
    display: grid;
    gap: .5rem;
    margin-right: 1rem;
    margin-top: 4rem;
    line-height: 1.5;
    color: white;
    grid-template-columns: .5fr 1fr;
    
    
}

.menuGrid{    
    grid-template-rows: repeat(6, 1fr);    
}

.lowerMenu{
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1.25rem;
}

.sideIcon{
    justify-self: center;
    align-self: center;
    width: 2rem;
    height: auto;
    fill: white;
    
}

.menuGrid>div{
    margin-left: 0;
    font-size: 1.25rem;
}

.card{
    
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 8px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0;
    box-shadow: -8px 0px 0px yellow;/* first number is x direction, neg for left, pos for right
                                        second number is y direction, third number blur, set to 0 means sharp and nothing is seen top and bottom  */
    height: 15rem;
    width: auto;
    
}

.projectIcon{
    
    width: 1.5rem;
    height: auto;
    margin: .5rem
}

.iconDiv{
    
    display: flex;
    flex: 1 0 auto;
    align-items: end;
    justify-content: end;
    justify-items: space-between;
    margin-top: 0;
}

.projectText{
    padding: 1rem;
    overflow: scroll;

    margin-top: 0;
    max-height: 6.5rem;
}

.searchBar{
    
    margin: 2rem;
    display: flex;    
        
}

.searchBar input{
    background-color: #D6EAF8;
    border-radius: 25px;
    border-color: #D6EAF8;
    box-shadow: none;
    border-style: solid;
    margin-left: 1rem;
    font-size: 1.5rem
    
}

.topIcon{
    width: 2rem;
    height: auto;
   
}

.top{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.topRight{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    flex: 0 0 auto;
    justify-self: end;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.bottomTop{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
   
}

button{
    font-size: 1.25rem;
    border-radius: 25px;
    background-color: #3498DB;
    color: white;
    border: #3498DB;
    border-style: solid;
    padding: .75rem;
    width: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

button:hover{
    color: yellow;
   /* look at the drum video for making elements bigger when in focus/hover */
    
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    justify-self: flex-end;
    align-self: flex-end;
}

.userIcon{
    width: 4rem;
    height: auto;
    background-color: white;

}

.user{
    display: flex;
    margin:2rem
    
}
.username{
    margin-left: 1rem;
    align-self: center;
}

h2, h3, h4{
    margin: 0;
}
.contentHeader{
    margin: 1rem;
}

.announcementsGrid, .trendingGrid{
    margin: 1rem;
    background-color: white;
    display: grid;
    padding: 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 8px;
    max-height: 22rem;    
    overflow: hidden;
}

.announcementCard{
    border-bottom: solid lightgray 2px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px; /* height does lower bar */
    }/* can't get lower bar */

::-webkit-scrollbar-x{
    width: 5px;

}
    
    ::-webkit-scrollbar-track {
    
    box-shadow: inset 0 0 5px #3498DB; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    width: 5px;
    background: #3498DB; 
    border-radius: 10px;
    }

.trendingCard{
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin-top: 1rem;

    
}
    
    
    